.git
.github
.idea
.env.local
.env.*.local
.env.local.php
.phpunit.cache
.deptrac.cache
node_modules
vendor
var
public/build
public/bundles
e2e
tests
deploy
docs
Dockerfile
compose*.yaml
public/build-e2e
