
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> pentatrion/vite-bundle ###
/node_modules/
/public/build/
###< pentatrion/vite-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> deptrac/deptrac ###
/.deptrac.cache
###< deptrac/deptrac ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> e2e ###
/public/build-e2e/
/e2e/node_modules/
/e2e/playwright-report/
/e2e/test-results/
/e2e/shots/
###< e2e ###
/ci-build.tgz

/.claude/
