IMAGE=mossyleaf-studio
TAG=latest

TRUSTED_PROXIES=private_ranges
DEFAULT_URI=https://mossyleaf.studio
PROXY_NETWORK=

APP_SECRET=

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=

OIDC_CLIENT_SECRET=
